<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../imgs/favicon.png" />
  </head>

  <body>
    <!-- LAUDER -->
    <div id="loader__con" class="loader__container">
      <div id="loader" class="loader">
        <div class="circle c"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle c"></div>
      </div>
    </div>

    <!-- phones and tablets -->
    <div class="smallnotyet">
      <h3>
        Sorry this site no availbe <br />
        for small technologies yet
      </h3>
    </div>

    <!-- HEADER -->

    <header class="header__about">
      <h5><a href="index.html">Home</a> / About</h5>

      <a href="portofolio.html"><button class="button1">Portfolio</button></a>
    </header>

    <main class="main__about">
      <section class="about">
        <div class="main_about__container">
          <div class="main__about_content">
            <h3>
              <span>Nawar Alsafadi</span> – Front-End <br />
              Developer & Design
            </h3>

            <p>
              Hello! I'm Nawar Alsafadi, a front-end developer passionate about
              creating engaging user experiences. With expertise in programming
              languages like Python, I blend technical skills with a love for
              design to build visually appealing and functional websites. <br />
              <br />
              I specialize in responsive design, intuitive UX/UI, and seamless
              interfaces. My diverse skill set allows me to push the boundaries
              of web development and design.
            </p>

            <a href="#skills"><button class="button2">Skills</button></a>
          </div>

          <div class="main__about_image">
            <img src="../imgs/about__image_nobg.png" alt="" />
          </div>
        </div>
      </section>

      <section class="skills" id="skills">
        <div class="main__skills_container">
          <div class="choose_sec">
            <button id="codeBTN" class="sec">
              <span>Coding skills</span>
            </button>

            <button id="designBTN" class="sec">
              <span>Design skills</span>
            </button>
          </div>

          <div class="result__skill_section">
            <div class="skills_sec choosen_sec" id="coding_s">
              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">HTML 5</p>
                    <p><i class="fa-brands fa-html5"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">70%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">CSS</p>
                    <p><i class="fa-brands fa-css3-alt"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">68%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">JAVASCRIPT</p>
                    <p><i class="fa-brands fa-js"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">36%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">PYTHON</p>
                    <p><i class="fa-brands fa-python"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">58%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Git & GitHub</p>
                    <i class="fa-brands fa-github"></i>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">68%</div>

                    <button style="cursor: no-drop">No project</button>
                  </div>
                </div>
              </article>
            </div>

            <div class="skills_sec no_choosen_sec" id="design_s">
              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Design</p>
                    <p><i class="fa-solid fa-pen-nib"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">62%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Photoshop</p>
                    <i class="fa-solid fa-photo-film"></i>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">65%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Figma</p>
                    <p><i class="fa-brands fa-figma"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">62%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Ui / Ux</p>
                    <p><i class="fa-solid fa-pencil"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">50%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">After Effect</p>
                    <p><i class="fa-solid fa-video"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">36%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>

              <article class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="title">Premier Pro</p>
                    <p><i class="fa-solid fa-video"></i></p>
                  </div>

                  <div class="flip-card-back">
                    <div class="circle">30%</div>

                    <a href="portofolio.html"><button>view projects</button></a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <ul>
          <li>
            <a href="https://www.youtube.com/channel/UC-IpSJv-noUFFpk4RGLZAhw"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/netric_master/"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/netricc/"
              ><i class="fa-brands fa-square-github"></i
            ></a>
          </li>
          <li>
            <a href="https://discord.gg/23ReGdAq"
              ><i class="fa-brands fa-discord"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>

    <script>
      const codeBTN = document.getElementById("codeBTN");
      const designBTN = document.getElementById("designBTN");

      const codeS = document.getElementById("coding_s");
      const designS = document.getElementById("design_s");

      const choosen_sec = document.querySelector(".choosen_sec");
      const no_choosen_sec = document.querySelector(".no_choosen_sec");

      codeBTN.style.opacity = "1";
      designBTN.style.opacity = "0.7";

      codeBTN.addEventListener("click", () => {
        codeS.classList.add("choosen_sec");
        codeS.classList.remove("no_choosen_sec");

        designS.classList.add("no_choosen_sec");
        designS.classList.remove("choosen_sec");

        codeBTN.style.opacity = "1";
        designBTN.style.opacity = "0.7";
      });

      designBTN.addEventListener("click", () => {
        designS.classList.add("choosen_sec");
        designS.classList.remove("no_choosen_sec");

        codeS.classList.add("no_choosen_sec");
        codeS.classList.remove("choosen_sec");

        codeBTN.style.opacity = "0.7";
        designBTN.style.opacity = "1";
      });
    </script>
    <script src="../js/main.js"></script>
  </body>
</html>
