<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../imgs/favicon.png" />
  </head>

  <body>
    <!-- LAUDER -->
    <div id="loader__con" class="loader__container">
      <div id="loader" class="loader">
        <div class="circle c"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle c"></div>
      </div>
    </div>

    <!-- phones and tablets -->
    <div class="smallnotyet">
      <h3>
        Sorry this site no availbe <br />
        for small technologies yet
      </h3>
    </div>

    <!-- HEADER -->

    <header class="header__about">
      <h5><a href="index.html">Home</a> / Portfolio</h5>

      <a href="contact.html"><button class="button1">Contact</button></a>
    </header>

    <main style="padding: 200px 40px">
      <h1>Sorry this Section is on Update</h1>
      <h5>
        Return to Home page
        <a
          style="color: rgb(0, 85, 255); font-size: 30px"
          href="https://netricc.github.io/Netric-Master.com"
          >Here</a
        >
      </h5>
    </main>

    <footer class="footer">
      <div class="container">
        <ul>
          <li>
            <a href="https://www.youtube.com/channel/UC-IpSJv-noUFFpk4RGLZAhw"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/netric_master/"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/netricc/"
              ><i class="fa-brands fa-square-github"></i
            ></a>
          </li>
          <li>
            <a href="https://discord.gg/23ReGdAq"
              ><i class="fa-brands fa-discord"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- <main class="main__portfolio">
      <div class="main__portfolio_container">
        <div class="projects__box">
          <div class="card project1">
            <img src="../imgs/proje_1.png" alt="" />
            <div class="card__content">
              <p class="card__title">Rate It</p>
              <p class="card__description">
                This is an project has been created using : Html, Css and also
                Javascript =>
                <a href="https://netricc.github.io/RateIt-website/">See it</a>
              </p>
            </div>
          </div>
          <div class="card project2">
            <img src="../imgs/proje_2.png" alt="" />
            <div class="card__content">
              <p class="card__title">Adidas</p>
              <p class="card__description">
                This is an prject how was created using : Html, Css and also
                Javascript =>
                <a href="projects/adidas:project/index.html">See it</a>
              </p>
            </div>
          </div>
          <div class="card project3">
            <img src="../imgs/proje_3.png" alt="" />
            <div class="card__content">
              <p class="card__title">PsFree</p>
              <p class="card__description">
                This is an prject how was created using : Html, Css and also
                Javascript =>
                <a href="projects/psFree:project/index.html">See it</a>
              </p>
            </div>
          </div>
          <div class="card project4">
            <img src="../imgs/proje_4.png" alt="" />
            <div class="card__content">
              <p class="card__title">Password_Gen</p>
              <p class="card__description">
                This is an prject how was created using : Html, Css and also
                Javascript and Git & GitHub =>
                <a href="projects/password generator:project/index.html"
                  >See it</a
                >
              </p>
            </div>
          </div>

          <!-- <article class="project project__first">
                    <h3>Rate It project</h3>
                </article>

                <article class="project project__second">
                    <p>test 2 </p>

                </article>

                <article class="project project__third">
                    <p>test 3 </p>

                </article>

                <article class="project project__four">
                    <p>test 4 </p>

                </article> 
        </div>
      </div>
    </main> -->

    <script src="../js/main.js"></script>
  </body>
</html>
