<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube Channel</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../imgs/favicon.png" />
  </head>

  <body style="background: #fafafa">
    <!-- LOADER -->
    <div id="loader__con" class="loader__container">
      <div id="loader" class="loader">
        <div class="circle c"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle c"></div>
      </div>
    </div>

    <!-- Phones and tablets message -->
    <div class="smallnotyet">
      <h3>Sorry, this site is not available for small technologies yet</h3>
    </div>

    <!-- HEADER -->

    <header class="header__about">
      <h5><a href="index.html">Home</a> / Youtube Channel</h5>

      <a href="videos_pages/simple_html_css_project_01.html"
        ><button class="button1">Last Project</button></a
      >
    </header>

    <!-- HEADER -->
    <header class="header__youtube">
      <div class="icon_dev">
        <img src="../imgs/favicon.png" alt="Netric Master" />
      </div>

      <div class="details_dev">
        <h1>Netric Master</h1>
        <div>
          <span id="Subcount">0 subscribers</span>
          <span> • </span>
          <span class="Vidcount">Two video</span>
        </div>
        <p>
          Subscribe if you're passionate about programming! Your support
          motivates <br />
          me to create more high-quality content. 🚀
        </p>
      </div>
      <a href="https://www.youtube.com/channel/UC-IpSJv-noUFFpk4RGLZAhw">
        <button class="button1">See Channel</button>
      </a>
    </header>

    <main class="main__youtube">
      <div class="search_box">
        <div class="row">
          <input
            type="text"
            id="input_box2"
            placeholder="Search Sections"
            autocomplete="off"
          />
          <button class="button2">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <div class="result_box" id="result_box2"></div>
      </div>

      <div class="main__youtube_box">
        <article class="main__youtube_video">
          <div class="video__image">
            <img src="../imgs/img videos/login-form-project.png" alt="" />
          </div>

          <div class="video__content">
            <h5>Make the best Login form using Html & Css</h5>
            <p>
              This is a project for a login form made with html and css for no
              talk
            </p>
            <a href="./videos_pages/login_form_html_css_project.html"
              ><button class="button2">See Here</button></a
            >
          </div>
        </article>

        <article class="main__youtube_video">
          <div class="video__image">
            <img
              src="../imgs/img videos/Simple_html_css_project_01.png"
              alt=""
            />
          </div>

          <div class="video__content">
            <h5>A Simple Html Css Project - #01</h5>
            <p>This is a simple html and css project for beginners</p>
            <a href="./videos_pages/simple_html_css_project_01.html"
              ><button class="button2">See Here</button></a
            >
          </div>
        </article>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <ul>
          <li>
            <a href="https://www.youtube.com/channel/UC-IpSJv-noUFFpk4RGLZAhw"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/netric_master/"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/netricc/"
              ><i class="fa-brands fa-square-github"></i
            ></a>
          </li>
          <li>
            <a href="https://discord.gg/23ReGdAq"
              ><i class="fa-brands fa-discord"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        // Search functionality
        let SearchKeyWord2 = {
          " Simple Html Css Project - #01":
            "videos_pages/simple_html_css_project_01.html",
        };

        const resultBox2 = document.getElementById("result_box2");
        const input_box2 = document.getElementById("input_box2");

        input_box2.onkeyup = function () {
          console.log("Key up event triggered");
          let result = [];
          let input = input_box2.value.trim();
          console.log("Input value:", input);
          if (input.length) {
            result = Object.keys(SearchKeyWord2).filter((keyword) => {
              return keyword.toLowerCase().includes(input.toLowerCase());
            });
            console.log("Search results:", result);
            display(result);
          } else {
            resultBox2.innerHTML = ""; // Clear the result box if input is empty
          }
        };

        function display(result) {
          console.log("Display function called with results:", result);
          if (result.length) {
            const content = result
              .map((keyword) => {
                return `<li><a href="${SearchKeyWord2[keyword]}" target="_blank">${keyword}</a></li>`;
              })
              .join("");
            resultBox2.innerHTML = `<ul>${content}</ul>`;
          } else {
            resultBox2.innerHTML = `<p class="p_nores">Can't find this section</p>`;
          }
        }

        const YoutubeKey = "AIzaSyCtHFtY-ZrVGm56NynZVVf_DDg_U8Fsf9M";
        const YoutubeUser = "UC-IpSJv-noUFFpk4RGLZAhw";

        const Vidcount = document.getElementById("Vidcount");
        const Subcount = document.getElementById("Subcount");

        let getSubs = () => {
          fetch(
            `https://www.googleapis.com/youtube/v3/channels?part=statistics&id=${YoutubeUser}&key=${YoutubeKey}`
          )
            .then((response) => {
              return response.json();
            })
            .then((data) => {
              // console.log(data)
              SubcountData = data["items"][0].statistics.subscriberCount;
              Subcount.innerHTML = `${SubcountData} subscribers`;
            });
        };

        getSubs();
      });
    </script>

    <script></script>

    <script src="../js/main.js"></script>
  </body>
</html>
