<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="with this web you pay a butefful shouses maked by adidas">
    <title>Adidas</title>
    <!-- style file  -->
    <link rel="stylesheet" href="style.css">
    <!-- cdnjs file for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- icon of web -->
    <link rel="icon" href="img/Adidas New 2022.png">
    <!-- library animation on scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- Header start -->
    <header id="header">
        <a href="#" class="logo"><img src="img/Adidas New 2022.png" alt="logo"></a>

        <ul class="navigation">
            <li><a href="#Home">Home</a></li>
            <li><a href="#Services">Services</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Reviews">Reviews</a></li>
            <li><a href="#Contacts">Contacts</a></li>
        </ul>
        <button  aria-labelledby="aria-labelledby" role="button" class="hamburger">
            <div class="bar"></div>
        </button>

        <a href="login.html" aria-label="Go to login page" ><button class="btn-header">login</button></a>
    </header>
    <!-- Header end -->
    <nav class="mobile-nav">
        <a href="#Home" class="mobile-navB">Home</a>
        <a href="#Services" class="mobile-navB">Services</a>
        <a href="#About" class="mobile-navB">About</a>
        <a href="#Reviews" class="mobile-navB">Reviews</a>
        <a href="#Contacts" class="mobile-navB">Contacts</a>
        <a href="login.html" class="mobile-navB">login</a>
    </nav>

    <!-- main start -->
    <section class="main" id="Home">
        <div class="main_content">
            <div class="main_text" data-aos="fade-dawon">
                <h1>Adidas <br> <span>Collection</span></h1>

                <p>
                    Le Lorem Ipsum est simplement
                    du faux texte employé dans la composition
                    et la mise en page avant impression.
                    Le Lorem Ipsum est le faux texte standard
                    de l'imprimerie depuis les années 1500,
                    quand un imprimeur anonyme assembla ensemble
                    des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique
                    informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années
                    1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus
                    récemment, par son inclusion dans des applications de mise en page de texte,
                    comme Aldus PageMaker.
                </p>


                <div class="social-icon">
                    <a aria-label="View my link in Youtube"   href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a aria-label="View my link in Facebook"   href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a aria-label="View my link in Instagram"   href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a aria-label="View my link in X-Twitter "  href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>


                <div class="button">
                    <a href="#Services">Shop Now</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

            <div class="main-img">
                <img src="img/img-main2.png" alt="shouse photo">
            </div>

        </div>






    </section>

    <!-- Main end -->
    <!-- Services start -->
    <section class="services" id="Services">
        <div class="title">
            <h1>Services</h1>
        </div>
        <div class="box">
            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_basse_Gazelle_Indoor-120-5.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure basse </h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>120 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Campus_ADV_100.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Campus </h2>
                    <p>If ipsum dolor, and amet consectetur adipisicing collection. </p>
                    <h3>100 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Galaxy_6_55.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Galaxy 6</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>55 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Forum_Low_CL_Le_Grinch_130.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Forum </h2>
                    <p>Lorem ipsum , sit consectetur vary hight elit. </p>
                    <h3>120 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Gazelle_120.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Gazelle</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>120 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Forum_120.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Forum</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>120 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Chaussure_Samba_OG-120.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Samba</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>120 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>

            <div class="card">
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="image">
                    <img src="img/Stan-110-1.avif" alt="product photo shouse">
                </div>
                <div class="products_text">
                    <h2>Chaussure Stan</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <h3>110 €</h3>
                    <div class="products_star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                    <a href="#"><button class="btn-product">Add to cart</button></a>
                </div>
            </div>
        </div>

    </section>
    <!-- Services end -->

    <!-- About start -->
    <div class="about" id="About">

        <div class="title">
            <h1>Web <span>About</span></h1>
        </div>
        <div class="about-content">
            <div class="img-s-b">
                <div class="image-about">
                    <img data-aos="fade-up-right" data-aos-duration="3000" src="img/imga1.avif"
                        alt="shouse photo background " id="imagebox">
                </div>
                <div class="image-small">
                    <img src="img/imga1.avif" alt="mini shoude photo" onclick="functio(this)">
                    <img src="img/imga2.avif" alt="mini shoude photo" onclick="functio(this)">
                    <img src="img/imga3.avif" alt="mini shoude photo" onclick="functio(this)">
                    <img src="img/imga4.avif" alt="mini shoude photo" onclick="functio(this)">
                </div>
            </div>


            <div class="about-text">

                <p>
                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là,
                    mais la majeure partie d'entre elles a été altérée par l'addition
                    d'humour ou de mots aléatoires qui ne ressemblent pas une seconde
                    à du texte standard. Si vous voulez utiliser un passage du Lorem
                    Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché
                    dans le texte. Tous les générateurs de Lorem Ipsum sur Internet
                    tendent à reproduire le même extrait sans fin, ce qui fait de
                    lipsum.com le seul vrai générateur de Lorem Ipsum. Iil utilise
                    un dictionnaire de plus de 200 mots latins, en combinaison
                    de plusieurs structures de phrases, pour générer un Lorem
                    Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne contient
                    aucune répétition, ni ne contient des mots farfelus, ou des
                    touches d'humour.
                </p>
                <a href="#"><button class="btn-about">view reviews</button></a>
            </div>

        </div>

    </div>
    <!-- About end -->

    <!-- Reviews start -->
    <section class="reviews swiper mySwiper" id="Reviews">
        <div class="title">
            <h1>Reviews</h1>
        </div>
        <div class="box-rev swiper-wrapper">








            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-1.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                </div>
                <div class="rev-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolore iusto repudiandae maiores nisi harum ipsa!</p>
                </div>

            </div>

            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-6.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                </div>
                <div class="rev-text">
                    <p>WT*</p>
                </div>

            </div>

            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-3.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                </div>
                <div class="rev-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

            </div>

            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-4.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>


                    </div>
                </div>
                <div class="rev-text">
                    <p>Very good but dolor sit amet consectetur if elit.
                        Dolore iusto repudiandae maiores nisi harum ipsa!</p>
                </div>

            </div>

            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-2.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>


                    </div>
                </div>
                <div class="rev-text">
                    <p> Ipsum dolor sit amet consectetur adipisicing elit.
                        Dolore iusto repudiandae maiores nisi harum ipsa! Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

            <div class="rev swiper-slide">
                <div class="up">
                    <img src="img/pers-5.jpeg" alt="personal photo persone">
                    <div class="rev-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>

                    </div>
                </div>
                <div class="rev-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolore iusto repudiandae .</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Reviews end -->


    <!-- Contacts start -->

    <section class="contacts" id="Contacts">
        <div class="title">
            <h1>Contact <span>Us</span></h1>
        </div>
        <div class="con-content father">
            <div class="image">
                <img src="img/img-contact.avif" alt="shouse image ">
            </div>
            <div data-aos="fade-left" data-aos-duration="1500" class="text ">
                <form action="">
                    <label for='name'>Name</label>
                    <input id="name" type="text" placeholder="Name..." required />

                    <label for='email'>Email</label>
                    <input id="email" type="email" placeholder="Email..." required />


                    <textarea class="textm" id="mesg" cols="30" rows="10" placeholder="Enter your Message...">

      </textarea>


                    <div style="display: flex; width: 100%;justify-content: center;">
                        <button type='submit'>Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Contacts end -->

    <!-- footer start -->
    <footer>
        <div class="con-fo">
            <div class="sections">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Reviews">Reviews</a></li>
                    <li><a href="#Contacts">Contacts</a></li>
                    <li><a href="login.html">Log-in</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span>+33 99 46 51 76</span>
                    </li>

                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <span>adidas-negera@gamil.com</span>
                    </li>

                </ul>
            </div>
            <div class="social-media-i">
                <a aria-label="View my link in Youtube"    href="#"><i class="fa-brands fa-youtube"></i></a>
                <a aria-label="View my link in Facebook"   href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a aria-label="View my link in Instagram"  href="#"><i class="fa-brands fa-instagram"></i></a>
                <a aria-label="View my link in X-Twitter " href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>

        </div>


        <div class="p">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum pariatur architecto cupiditate tenetur vero
                harum.</p>
        </div>
    </footer>
    <!-- footer end -->







    <script>
        AOS.init();
    </script>
    <!-- Swiper JS -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script src="script.js"></script>

</body>

</html>