@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

:root {
    --primary_color: #FAFAFA;
    --secondary_color: #0077C0;
    --secondaryDark_color: #005184;
    --third_color: #1D242B;
    --gray_color: #5f5f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Anek Devanagari", sans-serif;
    width: 100%;
    min-height: 100vh;
    background: url(../imgs/split_background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


h1 {
    color: var(--third_color);
    font-size: 48px;
    font-weight: 900;
}



h2 {
    color: var(--third_color);
    font-size: 48px;
    font-weight: 300;
}

h3 {
    color: var(--third_color);
    font-size: 36px;
    font-weight: 900;
}

h4 {
    color: var(--third_color);
    font-size: 28px;
    font-weight: 900;
}

h5 {
    color: var(--third_color);
    font-size: 24px;
    font-weight: 700;
}

.body1 {
    font-size: 18px;
}

.button1 {
    font-size: 18px;
    font-weight: 700;
}

.button2 {
    font-size: 16px;
    font-weight: 700;
}

li,
a,
button {
    font-family: "Anek Devanagari", sans-serif;
    text-decoration: none;
    font-size: 18px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    /* For webkit browsers */
    -webkit-touch-callout: none;
    /* Prevent callouts on iOS */
    -webkit-tap-highlight-color: transparent;
    /* Remove the tap highlight color on iOS */
}

.no-select {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

/* Scroll bar custom */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary_color);


}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #fafafac5;
    border-radius: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9ae;

}


/* louder */

.loader__container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    opacity: 1;
}

.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
}

.loader .circle {
    --color: var(--third_color);
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .c {
    --color: var(--secondary_color)
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}




/* HEADER */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;

}

.header .logo {
    font-size: 36px;
    font-weight: 800;
    color: var(--third_color);
    transition: .2s;
}

.header .logo:hover {
    color: var(--secondary_color);
}

.header button {
    border: none;
    outline: none;
    padding: 6px 20px;
    border-radius: 999px;
    background-color: rgba(0, 118, 192, 0.8);
    color: var(--primary_color);
    cursor: pointer;
    transition: .3s;
}

.header button:hover {
    background-color: rgba(0, 83, 135, 0.8);
}


/* =============== INDEX.HTML START =============== */

/* MAIN landing page */

.main__landing {
    width: 100%;
    height: 100%;
}


.main__landing .main__container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 160px;
    align-items: center;
    justify-content: space-between;
    transform-style: preserve-3d;
}

.main__landing .main__content {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.main__landing .main__content p {
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    color: rgba(29, 36, 43, 0.7);
}


.main__landing .main__content button {
    border: none;
    outline: none;
    padding: 6px 20px;
    width: 160px;
    border-radius: 999px;
    background-color: rgba(0, 118, 192, 0.8);
    color: var(--primary_color);
    cursor: pointer;
    transition: .3s;
}


.main__landing .main__content button:hover {
    background-color: var(--secondary_color);
}


.main__image {
    position: relative;
    width: 350px;
    height: 150px;
    background: transparent;
    margin-bottom: 120px;
    transform-style: preserve-3d;


}

.main__image-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.main__image-img img {
    width: 100%;
}

/* .main__image-content {
    transform-style: preserve-3d;
    position: absolute;
    top: 100%;
    left: 50px;
    right: 50px;
    background-color: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: .3s;
} */

/* 
.main__image:hover .main__image-content {
    transform: translateZ(20px) scaleY(1);

} */






/* =============== INDEX.HTML END =============== */

/* =============== WEBSITE.HTML START =============== */


.main__website {
    width: 100%;
    height: 100%;
}

.main__website .main__container {
    width: 100%;
    height: 100%;
    padding: 100px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;

}

.search_box {
    width: 600px;
    background: var(--third_color);
    margin: 0 auto 0;
    border-radius: 5px;
}


.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


.row input {
    flex: 1;
    height: 50px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--primary_color);
    font-size: 18px;
}

.row button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
}

.row button i {
    color: var(--primary_color);
    cursor: pointer;
}

.result_box ul {
    border-top: 1px solid #eaeaea;
    padding: 15px 10px;
}

.result_box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    transition: .3s;
}

.result_box ul li:hover {
    background-color: hsla(203, 100%, 38%, 0.5);
}


.result_box ul li a {
    color: var(--primary_color);
}

.result_box .p_nores {
    padding: 15px 10px;
    color: var(--primary_color);
    font-size: 18px;
}


.main__website .main__sections {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main__website .main__sections .section {
    width: 100%;
    height: 300px;
    background-color: var(--third_color);
    padding: 20px 40px;
    box-sizing: border-box;
}

.section .section__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.section .section__image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.section .About__image {
    background: url(../imgs/about__image.jpg);
    background-position: center;
    background-size: cover;

}


.section .Portofolio__image {
    background: url(../imgs/project__image.jpg);
    background-position: center;
    background-size: cover;

}

.section .Youtube_channel__image {
    background: url(../imgs/favicon.png);
    background-position: center;
    background-size: cover;

}


.section .Contact__image {
    background: url(../imgs/contact.jpg);
    background-position: center;
    background-size: cover;

}

.section .section__content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    margin-left: 20px;
}

.section .section__content h3 {
    color: #0d8dde;
    letter-spacing: 2px;
}

.section .section__content p {
    color: var(--primary_color);
    width: 80%;
}

.section .section__content a {
    margin-top: 50px;
    margin-left: 80%;
}

.section .section__content a button {
    font-weight: 500;
    border: none;
    outline: none;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--third_color);
    color: var(--primary_color);
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}


.section .section__content a button i {
    margin-left: 5px;
    transition: .5s;
}


.section .section__content a button:hover {
    background: var(--secondary_color);
}

.section .section__content a button:hover i {
    transform: translateX(5px);
}







/* =============== WEBSITE.HTML END =============== */



/* =============== ABOUT.HTML START =============== */

.header__about {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.header__about h5 {
    color: var(--third_color);
}

.header__about button {
    border: none;
    background-color: var(--primary_color);
    color: var(--third_color);
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}


.header__about button:hover {
    color: #0091ff;
}

.header__about h5 a {
    font-size: 24px;
    color: #2372E9;
}

.header__about h5 i {
    font-size: 18px;

}

.main__about {
    width: 100%;
    height: 220vh;
}

.main__about section {
    height: 110vh;
    width: 100%;
    padding: 60px 90px;
}

.main__about .about .main_about__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__about_content {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main__about_content h3 {
    color: var(--third_color);
}

.main__about_content h3 span {
    color: #0091ff;
}

.main__about_content p {
    width: 80%;
    font-size: 18px;
    color: rgb(30, 30, 30);
    line-height: 21px;
}

.main__about_content button {
    border: none;
    background-color: var(--third_color);
    color: var(--primary_color);
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    width: 120px;
}

.main__about_content button:hover {
    background-color: var(--secondary_color);

}


.main__about_image img {
    width: 500px;
}





.main__skills_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: center;
}

.main__skills_container .choose_sec {
    width: 350px;
    height: 60px;
    background-color: var(--third_color);
    display: flex;


}

.main__skills_container .choose_sec .sec {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #004671;
    color: var(--primary_color);
    cursor: pointer;
    transition: .3s;
    opacity: .7;
}

.main__skills_container .choose_sec .sec:hover {
    opacity: 1;

}



.main__skills_container .choose_sec .sec:first-child {
    background-color: var(--secondary_color);
}

.main__skills_container .choose_sec .sec:last-child {
    background-color: var(--third_color);
}

.main__skills_container .result__skill_section {
    width: 700px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__skills_container .result__skill_section .skills_sec {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.main__skills_container .result__skill_section .choosen_sec {
    transform: translateY(0) translateX(0);
    transition: .5s;
}

.main__skills_container .result__skill_section .no_choosen_sec {
    transform: translateY(0) translateX(800px);
    transition: .5s;
    filter: blur(4px);

}


.main__skills_container .result__skill_section article {
    margin: 10px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    font-family: sans-serif;
    font-size: 16px;

}

.title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    padding: 20px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 3px solid #dadada;
    border-radius: 1rem;
}

.flip-card-front {
    background: var(--primary_color);
    color: var(--third_color);
}

.flip-card-front i {
    font-size: 24px;
    margin-top: 2px;
}

.flip-card-back {
    background: var(--primary_color);
    color: var(--third_color);
    transform: rotateY(180deg);
}

.flip-card-back .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--third_color);
    color: #0d8dde;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.flip-card-back button {
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
    transition: .3s;
    cursor: pointer;
}


/* =============== ABOUT.HTML END =============== */

/* =============== PORTFOLIO.HTML START =============== */


.main__portfolio {
    width: 100%;
    height: 100vh;
}


.main__portfolio_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projects__box {
    height: 500px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}


.card {
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid var(--third_color);
    background-color: var(--primary_color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card img {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--primary_color);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card__description a {
    font-size: 14px;
    color: #2372E9;
}

.card:hover img {
    scale: 0;
}


.card:nth-child(2) {
    height: 120%;
}

.card:nth-child(4) {
    margin-top: 48px;
    height: 80%;
}



.card:nth-child(3) {
    height: 110%;
}










/* =============== PORTFOLIO.HTML END =============== */


/* =============== CONTACT.HTML START =============== */

.body__contact {
    background: transparent;
}


.main__contact {
    width: 100%;
    height: 130vh;

    background-color: var(--third_color);
}

.main__contact_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.main__contact_container aside {
    height: 100%;
    width: 650px;
    background: linear-gradient(to left, #008BE1, #003F65);
    padding: 60px 38px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}


.main__contact_container aside h1 {
    color: var(--primary_color);
}


.main__contact_container aside .contact__email {
    border: 3px solid #009EFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    color: var(--primary_color);
    font-size: 20px;
    width: 550px;
    height: 70px;
    background-color: hwb(205 12% 0% / 0.3);
}


.main__contact_container aside .contact__email span {
    margin-left: 35px;
}

.main__contact_container aside .contact__email span a {

    color: var(--primary_color);
    font-size: 20px;
}


.main__contact_container aside .contact__email i {
    font-size: 24px;
}


.main__contact_container aside .contact__socialMedia {
    position: absolute;
    text-align: center;
    width: 550px;
    bottom: 20px;
    margin: 0 auto;
}


.main__contact_container aside .contact__socialMedia p {
    color: hsla(0, 0%, 98%, 0.8);
}

.main__contact_container aside .contact__socialMedia .icons {
    margin-top: 5px;
}

.main__contact_container aside .contact__socialMedia i {
    font-size: 24px;
    color: var(--primary_color);
    margin: 0 3px;
}

.main__contact_container form {
    padding: 60px 120px;
    width: 100%;
    height: 100%;
}




.input {

    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    background-color: #4F4F4F;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}


textarea {
    margin-bottom: 20px;
    background-color: #4F4F4F;
    border-radius: .5rem;
    border: 2px solid transparent;
    font-size: 1rem;
    color: var(--primary_color);
    min-width: 300px;
    max-width: 300px;
    outline: none;
    min-height: 200px;
    max-height: 300px;

    padding: 10px;
}

.label {
    display: block;
    margin-bottom: 2px;
    font-size: .9rem;
    font-weight: bold;
    color: var(--primary_color);
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
}

.input-group:hover .label,
.input:focus {
    color: var(--primary_color);
}


.main__contact_container form button,
.main__contact form a {
    background: var(--secondary_color);
    border: none;
    color: var(--primary_color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 8px 30px;
    transition: .3s;

}

.main__contact_container form a:last-child {
    margin-left: 20px;
}

.main__contact_container form button:hover,
.main__contact form a:hover {
    background: transparent;
    padding: 8px 30px;
    border: 1px solid var(--secondary_color);

}



/* =============== CONTACT.HTML END =============== */


/* =============== Youtube.HTML START =============== */
.header__youtube {
    width: 100%;
    height: 360px;
    background: var(--third_color);
    box-shadow: 0 8px 24px 2px #00000058;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    padding: 40px;
    display: flex;
    position: relative;
    border-radius: 0% 0% 100% 100% / 0% 0% 19% 13%;
}



.header__youtube .icon_dev img {
    width: 260px;
    border-radius: 50%;
}

.header__youtube .details_dev {
    margin-left: 80px;
}

.header__youtube .details_dev h1 {
    font-size: 48px;
    color: #0091ff;
}

.header__youtube .details_dev span {
    font-size: 20px;
    color: var(--primary_color);
    margin: 0 5px;
}

.header__youtube p {
    margin-top: 20px;
    color: #f2f2f2c5;
}

.header__youtube button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    border: none;
    outline: none;
    padding: 9px 21px;
    border-radius: 10px;
    background-color: var(--third_color);
    color: var(--primary_color);
    cursor: pointer;
    transition: .3s;
}

.header__youtube button:hover {
    background-color: var(--secondary_color);
}

.main__youtube {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary_color);
    padding: 60px 80px;
}

.main__youtube_box {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}


.main__youtube_box article {
    width: 350px;
    height: 450px;
    background-color: #f7f6f6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px;
}


.main__youtube_box article .video__image img {
    width: 100%;
}

.main__youtube_box article .video__content {
    padding: 10px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__youtube_box article .video__content h5 {
    font-size: 22px;
    font-weight: 700;
    color: var(--third_color);
}

.main__youtube_box article .video__content p {
    font-size: 16px;
    color: var(--gray_color);
    margin-bottom: 20px;

}


.main__youtube_box article .video__content button {
    border: none;
    outline: none;
    padding: 9px 21px;
    border-radius: 10px;
    /* margin-left: 58%; */
    cursor: pointer;
    background-color: var(--secondary_color);
    color: var(--primary_color);
}


/* =============== Youtube.HTML END =============== */



/* =============== video---.HTML START =============== */
.main_video_page {
    width: 100%;
    background-color: var(--primary_color);
    min-height: 100vh;
    padding: 60px 90px;
}


.main_video_page .main__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.main_video_page .main__container .main__image-video {
    width: 100%;
    text-align: center;
    background: transparent;
    box-shadow: none;
    margin-top: 80px;
}

.main_video_page .main__container .main__image-video img {
    width: 650px;
    border-radius: 20px;
    border: 3px solid #dfdfdf;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.main_video_page .main__container .files_used {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


.main_video_page .main__container .files_used .files {
    display: flex;
    flex-wrap: wrap;
}


.main_video_page .main__container .files_used .item_file_used {
    width: fit-content;
    border: 3px solid #dfdfdf;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px;

}


.main_video_page .main__container .files_used .item_used_details {
    padding: 10px 8px;
}


.main_video_page .main__container .files_used .item_used_details a {
    color: #009EFF;
}


.codes_used {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.codes_used .code_div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin: 20px 0;
}


.code_text {
    width: 100%;
    background-color: #212836;
    color: white;
    padding: 32px 20px;
    overflow-x: auto;
}

.codes_used pre:last-child .cssTag {
    color: #DA616E;
}


.code_text .tag {
    color: #DA616E;
}

.code_text .attr-name {
    color: #EAB780;
}

.code_text .attr-value {
    color: #5199A7;
}

.code_text .content {
    color: #95A5C6;
}

.code_text .comment {
    color: #95A5C6;

}


.codes_used .code_div .codes_used-header {
    background: rgb(52, 60, 76);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.codes_used header h5 {
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 500;
}


.codes_used header .copy {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary_color);
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 2px;
}

.codes_used header .copy:active {
    background-color: #ffffffca;
    color: var(--third_color);
    border-radius: 2px;

}

/* =============== video---.HTML END =============== */


/* =============== footer section start */
.footer {
    width: 100%;
    height: 100px;
}

.footer .container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer .container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #1f1f1f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.footer .container ul li:hover {
    transform: translateY(-10px);
}

.footer .container ul li a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container ul li a i {
    font-size: 26px;
}

/* =============== footer section end */




/* =============== other.HTML Start =============== */

.main__closed {
    height: 100vh;
    width: 100%;
    background: url(../imgs/closed-removebg.png),
        rgba(0, 96, 155, 0.607);
    background-position: bottom center;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.main__closed h1 {
    color: #333;
    text-align: center;
    font-size: 36px;

}



/* =============== other.HTML End =============== */

.smallnotyet {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #1D242B;
    z-index: 1200;
    color: var(--primary_color);
    display: none;
    padding: 80px;
    overflow: hidden;
}

/* Media query for LARGE DESKTOPS */
@media screen and (min-width: 1200px) {
    .smallnotyet {
        display: none;
    }


}

/* Media query for laptops, Desktops*/
@media screen and (max-width: 992px) {


    /* ------------------ GLOBALL STYLE ------------------- */


    h1 {
        color: var(--third_color);
        font-size: 34px;
        font-weight: 900;
    }



    h2 {
        color: var(--third_color);
        font-size: 28px;
        font-weight: 300;
    }

    h3 {
        color: var(--third_color);
        font-size: 24px;
        font-weight: 900;
    }

    h4 {
        color: var(--third_color);
        font-size: 22px;
        font-weight: 900;
    }

    h5 {
        color: var(--third_color);
        font-size: 20px;
        font-weight: 700;
    }

    /* ------------------ INDEX STYLE ------------------- */
    /* main style start */
    .main__landing .main__image {
        position: relative;
        width: 200px;
        height: 150px;
        background: transparent;
        margin-bottom: 120px;
        transform-style: preserve-3d;
    }

    /* TODO:dfls */

    .main__landing .main__container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 100px 100px;
        align-items: center;
        justify-content: space-between;
        transform-style: preserve-3d;
    }



    /* ------------------ WEBSITE STYLE ------------------- */

    .main__website .main__container {
        width: 100%;
        height: 100%;
        padding: 100px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;

    }

    /* main style end */
}










/* Media query for tablets */
@media screen and (max-width: 768px) {



    /* ------------------ GLOBALL STYLE ------------------- */


    h1 {
        color: var(--third_color);
        font-size: 32px;
        font-weight: 900;
    }



    h2 {
        color: var(--third_color);
        font-size: 26px;
        font-weight: 300;
    }

    h3 {
        color: var(--third_color);
        font-size: 22px;
        font-weight: 900;
    }

    h4 {
        color: var(--third_color);
        font-size: 20px;
        font-weight: 900;
    }

    h5 {
        color: var(--third_color);
        font-size: 18px;
        font-weight: 700;
    }



    /* ------------------ INDEX STYLE ------------------- */
    /* ___ header section start ___ */
    .header {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
        font-size: 30px;
    }

    .header .logo:hover {
        transform: scale(1.1);
        color: var(--third_color);
    }

    .header button {
        display: none;
    }

    /* ___ header section end ___ */
    /* ___ main section start ___ */

    .main__landing .main__container {

        display: flex;
        padding: 50px 30px;
        align-items: center;
        justify-content: center;
    }

    .main__landing .main__content {
        text-align: center;
    }

    .main__landing .main__image {
        display: none;
    }

    .main__landing .main__content .main__desc {
        margin: 0 auto;
        font-size: 16px;
        width: 40%;

    }

    /* ___ main section end ___ */
    /* ------------------ WEBSITE INDEX STYLE ------------------- */
    /* ___ main section start ___ */
    .main__website .main__container {
        width: 100%;
        height: 100%;
        padding: 50px 30px;
        gap: 200px;

    }

    .search_box {
        width: 100%;
        background: var(--third_color);
        margin: 0 auto 0;
        border-radius: 5px;
    }



    .main__website .main__sections {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .main__website .main__sections .section {
        width: 100%;
        min-height: 400px;
        background-color: var(--third_color);
        box-sizing: border-box;
    }

    .section .section__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section .section__image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .section .About__image {
        background: url(../imgs/about__image.jpg);
        background-position: center;
        background-size: cover;

    }


    .section .Portofolio__image {
        background: url(../imgs/project__image.jpg);
        background-position: center;
        background-size: cover;

    }

    .section .Youtube_channel__image {
        background: url(../imgs/favicon.png);
        background-position: center;
        background-size: cover;

    }


    .section .Contact__image {
        background: url(../imgs/contact.jpg);
        background-position: center;
        background-size: cover;

    }

    .section .section__content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 10px;
        padding-top: 20px;
        margin-left: 20px;
    }

    .section .section__content h3 {
        color: #0d8dde;
        letter-spacing: 2px;
    }

    .section .section__content p {
        color: var(--primary_color);
        width: 80%;
    }

    .section .section__content a {
        margin: 0;
    }

    .section .section__content a button {
        font-weight: 500;
        border: none;
        outline: none;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--third_color);
        color: var(--primary_color);
        transition: .3s;
        border-radius: 5px;
        cursor: pointer;
    }


    .section .section__content a button i {
        margin-left: 5px;
        transition: .5s;
    }


    .section .section__content a button:hover {
        background: var(--secondary_color);
    }

    .section .section__content a button:hover i {
        transform: translateX(5px);
    }



    /* ___ main section end ___ */
}

















/* Media query for phones */
@media (max-width: 576px) {
    /* ------------------ GLOBALL STYLE ------------------- */


    h1 {
        color: var(--third_color);
        font-size: 30px;
        font-weight: 900;
    }



    h2 {
        color: var(--third_color);
        font-size: 24px;
        font-weight: 300;
    }

    h3 {
        color: var(--third_color);
        font-size: 20px;
        font-weight: 900;
    }

    h4 {
        color: var(--third_color);
        font-size: 18px;
        font-weight: 900;
    }

    h5 {
        color: var(--third_color);
        font-size: 16px;
        font-weight: 700;
    }



    /* ------------------ INDEX STYLE ------------------- */
    /* ___ header section start ___ */
    .header {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
        font-size: 30px;
    }

    .header .logo:hover {
        transform: scale(1.1);
        color: var(--third_color);
    }

    .header button {
        display: none;
    }

    /* ___ header section end ___ */
    /* ___ main section start ___ */

    .main__landing .main__container {

        display: flex;
        padding: 50px 30px;
        align-items: center;
        justify-content: center;
    }

    .main__landing .main__content {
        text-align: center;
    }

    .main__landing .main__image {
        display: none;
    }

    .main__landing .main__content .main__desc {
        font-size: 16px;
        width: 100%;

    }

    /* ___ main section end ___ */
    /* ------------------ WEBSITE INDEX STYLE ------------------- */
    /* ___ main section start ___ */
    .main__website .main__container {
        width: 100%;
        height: 100%;
        padding: 50px 30px;
        gap: 200px;

    }

    .search_box {
        width: 100%;
        background: var(--third_color);
        margin: 0 auto 0;
        border-radius: 5px;
    }



    .main__website .main__sections {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .main__website .main__sections .section {
        width: 100%;
        min-height: 400px;
        background-color: var(--third_color);
        box-sizing: border-box;
    }

    .section .section__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section .section__image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .section .About__image {
        background: url(../imgs/about__image.jpg);
        background-position: center;
        background-size: cover;

    }


    .section .Portofolio__image {
        background: url(../imgs/project__image.jpg);
        background-position: center;
        background-size: cover;

    }

    .section .Youtube_channel__image {
        background: url(../imgs/favicon.png);
        background-position: center;
        background-size: cover;

    }


    .section .Contact__image {
        background: url(../imgs/contact.jpg);
        background-position: center;
        background-size: cover;

    }

    .section .section__content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 10px;
        padding-top: 20px;
        margin-left: 20px;
    }

    .section .section__content h3 {
        color: #0d8dde;
        letter-spacing: 2px;
    }

    .section .section__content p {
        color: var(--primary_color);
        width: 80%;
    }

    .section .section__content a {
        margin: 0;
    }

    .section .section__content a button {
        font-weight: 500;
        border: none;
        outline: none;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--third_color);
        color: var(--primary_color);
        transition: .3s;
        border-radius: 5px;
        cursor: pointer;
    }


    .section .section__content a button i {
        margin-left: 5px;
        transition: .5s;
    }


    .section .section__content a button:hover {
        background: var(--secondary_color);
    }

    .section .section__content a button:hover i {
        transform: translateX(5px);
    }









    /* ___ main section end ___ */


}